.create-chat-room-button {
  padding: 1rem;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom-left-radius: 5px;
}

.create-chat-room-button:hover {
  background: #eee;
}
