.app__root {
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__chat-container {
  height: 80vh;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.app__left-column {
  flex: 0 0 25%;
  border-right: 1px solid #ccc;
}

.app__right-column {
  flex: 1 0 0;
}
