.chat-room-message-list__root {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.chat-room-message-list__messages-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: relative;
  padding: 0.5rem;
  min-height: 100%;
  width: 100%;
}

.chat-room-message-list__cta {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chat-room-message-list__item-container___left {
  align-self: flex-start;
  max-width: 50%;
}

.chat-room-message-list__item-container___right {
  align-self: flex-end;
  max-width: 50%;
}
