.chat-room__root {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.chat-room__header-container {
  flex: 0 0 auto;
}

.chat-room__message-list-container {
  flex: 1 0 0;
}

.chat-room__message-input-container {
  flex: 0 0 auto;
}
